@import "tailwindcss";

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 2px red;
    color: transparent;
  }
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: white !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 15px !important;
  /* height: 30px !important;
  width: 30px !important; */
  background-color:#231F20 !important;
  /* border: 1px solid white !important; */
  /* border-radius: 100px !important;
  padding: 10px !important; */
}
 
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
body {
  font-family: 'Open Sans', sans-serif, ;
}