@import "tailwindcss";

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px #ED3937;
    color: transparent;
       
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: white !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 15px !important;
  background-color:#231F20 !important;
}
 
@font-face {
  font-family: 'MADE TOMMY Outline';
  src: url('/fonts/Made_Tommy/MADE TOMMY Bold Outline_PERSONAL USE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MADE TOMMY Light';
  src: url('/fonts/Made_Tommy/MADE TOMMY Light_PERSONAL USE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MADE TOMMY Bold';
  src: url('/fonts/Made_Tommy/MADE TOMMY Bold_PERSONAL USE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'MADE TOMMY Light', sans-serif;
  h1{
    
    font-family: 'MADE TOMMY Outline', sans-serif;
  }
}
